<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="footer-heading">{{ site.title }}</h2>
      </div>
    </div>

    <div class="row footer-col-wrapper">
      <div class="col-sm-3">
        <ul>
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>Georg-Kempf-Strasse 26</li>
          <li>8046 Zürich</li>
        </ul>
      </div>
      <div class="col-sm-5">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>


</footer>
