<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden-lg dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-expanded="true">Methoden <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% for page in site.pages %}
              {% if page.methods %}
                <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>

        {% for page in site.pages %}
          {% if page.methods %}
            <li class="visible-lg-inline"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/zu-meiner-ausbildung">Über mich</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>
